<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.passport.mapper.AdminMapper">

    <!-- int insert(Admin admin); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ams_admin (
            username, password, nickname, avatar, phone,
            email, description, enable, last_login_ip, login_count,
            gmt_last_login
        ) VALUES (
            #{username}, #{password}, #{nickname}, #{avatar}, #{phone},
            #{email}, #{description}, #{enable}, #{lastLoginIp}, #{loginCount},
            #{gmtLastLogin}
        )
    </insert>

    <!-- int countByUsername(String username); -->
    <select id="countByUsername" resultType="int">
        SELECT
            COUNT(*)
        FROM
            ams_admin
        WHERE
            username=#{username}
    </select>

    <!-- AdminLoginInfoVO getLoginInfoByUsername(String username); -->
    <select id="getLoginInfoByUsername" resultMap="LoginResultMap">
        SELECT
            <include refid="LoginQueryFields"/>
        FROM
            ams_admin
        WHERE
            username=#{username}
    </select>

    <sql id="LoginQueryFields">
        <if test="true">
            id, username, password, enable
        </if>
    </sql>

    <resultMap id="LoginResultMap" type="cn.tedu.csmall.passport.pojo.vo.AdminLoginInfoVO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="enable" property="enable" />
    </resultMap>

</mapper>